@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeYIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  95% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes translateToBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    transform: translateY(100%);
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(0.9);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    transform: scaleX(0.99);
  }

  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
