// font-size
$font-size-large--mobile: 2.5rem;
$font-size-large--tablet: 3rem;
$font-size-large: 3.5rem;
%font-size-large {
  font-size: $font-size-large--mobile;

  @include bp-from(sm) {
    font-size: $font-size-large--tablet;
  }

  @include bp-from(lg) {
    font-size: $font-size-large;
  }
}

$font-size-1--mobile: 2.5rem;
$font-size-1--tablet: 2.75rem;
$font-size-1: 2.875rem;
%font-size-1 {
  font-size: $font-size-1--mobile;

  @include bp-from(md) {
    font-size: $font-size-1--tablet;
  }

  @media screen and (min-width: 1600px) {
    font-size: $font-size-1;
  }
}

$font-size-2--mobile: 2rem;
$font-size-2--tablet: 2.25rem;
$font-size-2: 2.5rem;
%font-size-2 {
  font-size: $font-size-2--mobile;

  @include bp-from(md) {
    font-size: $font-size-2--tablet;
  }

  @media screen and (min-width: 1600px) {
    font-size: $font-size-2;
  }
}

$font-size-3: 1.5rem;
%font-size-3 {
  font-size: $font-size-3;
}

$font-size-4: 1.125rem;
%font-size-4 {
  font-size: $font-size-4;
}

$font-size-5: $base-font-size * 0.875;
%font-size-5 {
  font-size: $font-size-5;
}

$font-size-6: $base-font-size * 0.75;
%font-size-6 {
  font-size: $font-size-6;
}
