$spacer: 1rem;

.m {
  @each $side in ("t", "b") {
    @for $i from 1 through 4 {
      &#{$side}-#{$i} {
        @if ($side == "t") {
          margin-top: $i * $spacer;
        }

        @else if ($side == "b") {
          margin-bottom: $i * $spacer;
        }
      }
    }
  }
}
