//- includes
include svgSprite
include ../blocks/head/head

//- template
doctype html
html(lang="ru")
    block head
        head
            +head({
                /* "title": "Test layout", */
                "author": "Salahutdinov Salavat",
                /* "description": "Pug+SCSS layout", */
                "links": [
                    /* {
                        "href": "https://fonts.googleapis.com/css?family=Lato:300,400,400i,500,700,900",
                        "rel": "stylesheet"
                    } */
                ]
            })
    block body
        body
            block content
