//- includes
include svgSprite
include fa
include ../blocks/head/head

//- template
doctype html
html(lang="ru")
    block head
        head
            +head({
                /* "title": "Test layout", */
                /* "description": "Pug+SCSS layout", */
                "links": [
                    {
                        "href": "dns-prefetch",
                        "rel": "//code.jquery.com"
                    }
                ]
            })
    block body
        body
            block content
            script(src="https://code.jquery.com/jquery-3.3.1.min.js")
