@mixin _for-media-map($media-map, $grid) {
    $grid: _sort-breakpoints-in-grid($grid, min);
    $breakpoints: get-grid-value(breakpoints, $grid);

    $_for-media-map-value: null !global;

    @each $bp-key, $bp-width in $breakpoints {
        $bp-value: map-get($media-map, $bp-key);

        @if (($bp-value != null) and ($bp-value != $_for-media-map-value)) {
            @if ($_for-media-map-value == null) {
                $_for-media-map-value: $bp-value !global;
                @content;
            } @else {
                $_for-media-map-value: $bp-value !global;
                @include media-breakpoint-from($bp-key, $grid) {
                    @content;
                }
            }
        }
    }
}
