@charset "UTF-8";

/// Creates a media query that spans multiple breakpoint widths
/// and applies @content to it.
///
/// @name Media breakpoint between
///
/// @group helpers
///
/// @argument {string} $from
///     The breakpoint name, which specifies the starting width of the media query.
///
/// @argument {string} $to
///     The breakpoint name, which specifies the final width of the media query.
///
/// @argument {map} $grid [$default-grid]
///     The grid map settings (breakpoints) will be used to create a media query.
///     By default, the global '$default-grid' will be used.
///
/// @example scss
///     $example-grid: prepare-grid((
///         breakpoints: (
///             xs: 0, // Extra small screen
///             sm: 576px, // Small screen
///             md: 768px, // Medium screen
///             lg: 992px, // Large screen
///             xl: 1200px, // Extra large screen
///             xx: 1600px // Extra extra large screen
///         )
///     ));
///     .element {
///         display: block;
///         @include media-breakpoint-between($from: sm, $to: lg, $grid: $example-grid) {
///             display: none;
///         }
///     }
///
/// @example css
///     .element {
///         display: block;
///     }
///     @media only screen and (min-width: 576px) and (max-width: 991px) {
///         .element {
///             display: none;
///         }
///     }


@mixin media-breakpoint-between($from, $to, $grid: $default-grid) {
    $breakpoints: get-grid-value(breakpoints, $grid);

    $min-width: map-get($breakpoints, $from);
    $max-width: map-get($breakpoints, $to);

    $min-width-is-null: (($min-width == null) or ($min-width == 0));
    $max-width-is-null: (($max-width == null) or ($max-width == 0));

    @if (not ($min-width-is-null and $max-width-is-null)) {
        @if ($max-width-is-null) {
            $temp: $min-width;
            $min-width: $max-width;
            $max-width: $temp;

            $temp: $min-width-is-null;
            $min-width-is-null: $max-width-is-null;
            $max-width-is-null: $temp;
        }

        @if ($min-width-is-null) {
            @media screen and (max-width: $max-width - 1) {
                @content;
            }
        } @else {
            @if ($min-width == $max-width) {
                @error "To create a media query, the widths of the `$from`(#{$min-width}) and `$to`(#{$max-width}) must be different!";
            } @else if ($min-width > $max-width) {
                $temp: $min-width;
                $min-width: $max-width;
                $max-width: $temp;
            }

            @media only screen and (min-width: $min-width) and (max-width: $max-width - 1) {
                @content;
            }
        }
    }
}
