// settings
$default-grid: (
    driver: flex, // flex or float
    align-x: left, // don't support float driver
    align-y: top, // don't support float driver
    reversed: false,
    collapse: false,
    gutter: 30px,
    wrap: wrap, // don't support float driver
    columns: 12
) !default;

$grid-breakpoints: (
    xs: (320px, 575px), // Extra small screen
    sm: (576px, 767px), // Small screen
    md: (768px, 991px), // Medium screen
    lg: (992px, 1199px), // Large screen
    xl: (1200px, 1919px), // Extra large screen
    xx: (1920px, null)
) !default;

$container-max-widths: (
    sm: 540px, // Small screen
    md: 720px, // Medium screen
    lg: 960px, // Large screen
    xl: 1140px, // Extra large screen
    xx: 1700px // Extra large screen
) !default;
