@charset "UTF-8";

@import "grid-column-gutter";

// common styles of grid-column
%_grid-column-base {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    width: 100%;
}

@mixin grid-column-base--flex($gutter: null, $grid: $default-grid) {
    @include grid-column-gutter($gutter: $gutter, $grid: $grid);
    @extend %_grid-column-base;
}

@mixin grid-column-base--float($gutter: null, $grid: $default-grid) {
    @include grid-column-gutter($gutter: $gutter, $grid: $grid);
    @extend %_grid-column-base;

    $reversed: get-grid-value(reversed, $grid);
    @if $reversed == true {
        float: right;
    } @else {
        float: left;
    }
}

@mixin grid-column-base($gutter: null, $grid: $default-grid) {
    $driver: get-grid-value(driver, $grid);
    @if ($driver == flex) {
        @include grid-column-base--flex($gutter: $gutter, $grid: $grid);
    } @else if ($driver == float) {
        @include grid-column-base--float($gutter: $gutter, $grid: $grid);
    } @else {
        @error "[Brigrid]: Incorrect driver value: '#{$driver}'";
    }
}