@mixin grid-container-align-classes($options: $grid-classes-default-options, $grid: $default-grid) {
    $default-options: $grid-classes-default-options;
    $prefix: get-map-value('prefix', $options, $default-options);
    $names-delimiter: get-map-value('names-delimiter', $options, $default-options);
    $modifier-delimiter: get-map-value('modifier-delimiter', $options, $default-options);
    $breakpoint-delimiter: get-map-value('breakpoint-delimiter', $options, $default-options);
    $components: get-map-value('components', $options);

    $default-names: get-map-value('names', $default-options);
    $names: get-map-value('names', $options, $default-options);
    $container-name: get-map-value('container', $names, $default-names);

    $base-name: list-to-string(($prefix, $container-name), $names-delimiter);

    $h-align-prefix: get-map-value('horizontal-alignment', $names, $default-names);
    $h-alignments: map-merge(
        get-map-value('horizontal-alignments', $default-names),
        get-map-value('horizontal-alignments', $names, $default-names)
    );

    @each $h-align, $h-align-name in $h-alignments {
        $modifier-name: list-to-string(($h-align-prefix, $h-align-name), $names-delimiter);
        $class-name: list-to-string(($base-name, $modifier-name), $modifier-delimiter);
        .#{$class-name} {
            @include grid-container-align(
                $align-x: $h-align,
                $grid: $grid
            );
        }
    }

    $v-align-prefix: get-map-value('vertical-alignment', $names, $default-names);
    $v-alignments: map-merge(
        get-map-value('vertical-alignments', $default-names),
        get-map-value('vertical-alignments', $names, $default-names)
    );

    @each $v-align, $v-align-name in $v-alignments {
        $modifier-name: list-to-string(($v-align-prefix, $v-align-name), $names-delimiter);
        $class-name: list-to-string(($base-name, $modifier-name), $modifier-delimiter);
        .#{$class-name} {
            @include grid-container-align(
                $align-y: $v-align,
                $grid: $grid
            );
        }
    }
    
    @if (index($components, 'container-alignment-media') != null) {
        @include grid-media($grid: $grid) {
            @each $h-align, $h-align-name in $h-alignments {
                $modifier-name: list-to-string(($h-align-prefix, $h-align-name), $names-delimiter);
                $class-name: list-to-string(($base-name, $modifier-name), $modifier-delimiter)
                            + $breakpoint-delimiter
                            + $_grid-media-bp-name;
                            
                .#{$class-name} {
                    @include grid-container-align(
                        $align-x: $h-align,
                        $grid: $grid
                    );
                }
            }

            @each $v-align, $v-align-name in $v-alignments {
                $modifier-name: list-to-string(($v-align-prefix, $v-align-name), $names-delimiter);
                $class-name: list-to-string(($base-name, $modifier-name), $modifier-delimiter)
                            + $breakpoint-delimiter
                            + $_grid-media-bp-name;

                .#{$class-name} {
                    @include grid-container-align(
                        $align-y: $v-align,
                        $grid: $grid
                    );
                }
            }
        }
    }
}

@mixin grid-container-base-classes($options: $grid-classes-default-options, $grid: $default-grid) {
    $default-options: $grid-classes-default-options;
    $prefix: get-map-value('prefix', $options, $default-options);
    $names-delimiter: get-map-value('names-delimiter', $options, $default-options);

    $default-names: get-map-value('names', $default-options);
    $names: get-map-value('names', $options, $default-options);
    $container-name: get-map-value('container', $names, $default-names);
    
    $class-name: list-to-string(($prefix, $container-name), $names-delimiter);
    .#{$class-name} {
        @include grid-container-base($grid: $grid);
    }
}

@mixin grid-container-classes($options: $grid-classes-default-options, $grid: $default-grid) {
    $components: get-map-value('components', $options);

    @include grid-container-base-classes(
        $options: $options,
        $grid: $grid
    );

    $driver: get-grid-value(driver, $options);
    @if ($driver == 'flex') {
        @if (index($components, 'container-alignment') != null) {
            @include grid-container-align-classes(
                $options: $options,
                $grid: $grid
            );
        }
    }
}