$_grid-classes-default-options: (
    'prefix': 'grid',
    'names': (
        'outer-container': 'wrapper',
        'container': 'container',
        'column': 'col',
        'column-flex': 'col-flex',
        'column-auto': 'col-auto',
        'hidden': 'hidden',
        'push': 'push',
        'shift': 'shift',
        'horizontal-alignment': 'h',
        'horizontal-alignments': ( // ONLY FOR FLEX DRIVER
            start: 'start',
            center: 'center',
            end: 'end',
            space-around: 'around',
            space-between: 'between',
        ),
        'vertical-alignment': 'v',
        'vertical-alignments': ( // ONLY FOR FLEX DRIVER
            start: 'start',
            center: 'center',
            end: 'end',
            baseline: 'baseline',
            stretch: 'stretch',
        ),
        'order': order,
    ),
    'names-delimiter': '-',
    'modifier-delimiter': '--',
    'breakpoint-delimiter': '-',
    'components': (
        'container',
        'container-alignment',
        'container-alignment-media',
        'column',
        'column-media',
        'column-alignment',
        'column-alignment-media',
        'column-order',
        'column-order-media',
        'column-flex',
        'column-auto',
        'hidden',
        'hidden-media',
        'push',
        'push-media',
        'shift',
        'shift-media',
        'outer-container',
    )
);

$grid-classes-default-options: $_grid-classes-default-options !default;