@mixin outer-container-classes($options: $grid-classes-default-options, $grid: $default-grid) {
    $default-options: $grid-classes-default-options;
    $prefix: get-map-value('prefix', $options, $default-options);
    $names-delimiter: get-map-value('names-delimiter', $options, $default-options);

    $default-names: get-map-value('names', $default-options);
    $names: get-map-value('names', $options, $default-options);
    $outer-container-name: get-map-value('outer-container', $names, $default-names);

    $class-name: list-to-string(($prefix, $outer-container-name), $names-delimiter);
    .#{$class-name} {
        @include outer-container($grid: $grid);
    }
}
