@function _sort-breakpoints($breakpoints, $sortFunc: min) {
    $sortedMap: ();

    @if ($sortFunc == min) {
        $sortFunc: _min-breakpoint;
    } @else if ($sortFunc == max) {
        $sortFunc: _max-breakpoint;
    } @else {
        @error "Unknown sort function'#{$sortFunc}'";
    }

    @for $i from 1 through length($breakpoints) {
        $next-breakpoint: call($sortFunc, $breakpoints);
        $sortedMap: map-merge($sortedMap, $next-breakpoint);
        $breakpoints: map-remove($breakpoints, nth(nth($next-breakpoint, 1), 1));
    }

    @return $sortedMap;
}
