%btn-common {
    text-align: center;
    transition: all .32s ease;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;

    &--primary {
        @extend %btn-common;

        &:hover {
        }

        &:active,
        &:focus {

        }
    }

    &--secondary {
        @extend %btn-common;

        &:hover {
        }

        &:active,
        &:focus {
            
        }
    }

    &--small {
        // font-size: 14px;
        // padding: 8px 16px;
    }

    &--medium {
        // font-size: 1rem;
        // padding: 16px 24px;
    }

    &--fullwidth {
        display: block !important;
        width: 100%;
    }
}