$burger-line-height: 4px;
.burger-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    z-index: 2;
    outline: none;

    &--without-text::after {
        display: none !important;
    }

    &::after {
        @extend %inline-block-middle;
        content: 'Меню';
        margin-left: 12px;
        font-weight: 300;

        @include media-breakpoint-before( sm ) {
            display: none;
        }
    }

    &:focus &__line,
    &:hover &__line {
        box-shadow: 0 0 24px $color-accent;
        background-color: $color-accent;
    }

    &--dark &__line {
        background-color: $color-dark;
    }

    &__box {
        @extend %inline-block-middle;
        position: relative;
        z-index: 2;
        width: 32px;
        height: 24px;
    }

    &__line {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: $burger-line-height;
        border-radius: $burger-line-height;
        background-color: #fff;
        transform-origin: 50%;
        box-shadow: 0 0 0 $color-accent;
        transition: all .32s ease;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            margin-top: -($burger-line-height / 2);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.active &__line:nth-child(1) {
        transform: rotate(45deg);
        margin-top: - $burger-line-height;
        top: 50%;
    }

    &.active &__line:nth-child(2) {
        transform: scaleX(0);
        opacity: 0;
    }

    &.active &__line:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 50%;
    }
}


/* BURGER MENU */
.burger-menu {
    
}