$input-padding-top: 24px;
$input-line-neutral-color: #fff;
$input-invalid-color: #fff;
$input-valid-color: #fff;
$input-label-color: #fff;
$input-focus-color: #fff;

.input {
    position: relative;
    opacity: .4;
    padding: 0 24px;
    transition: opacity .36s ease;

    &__label {
        margin: 0 24px;
    }

    &:hover,
    &.active {
        opacity: 1;

        &::before {
            transform: translateX(-6px);
        }

        &::after {
            transform: translateX(6px);
        }
    }

    &::before {
        content: '[';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3rem;
        transition: transform .24s ease;
    }

    &::after {
        content: ']';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 3rem;
        transition: transform .24s ease;
    }

    &--fullwidth {
        display: block;
        width: 100%;
    }

    &--text {
        display: inline-block;
        margin-top: 16px;
    }

    &__label {
        display: block;
        position: absolute;
        width: 100%;
        top: $input-padding-top;
        left: 0;
        font-size: 1rem;
        color: $input-label-color;
        transform-origin: 0;
        pointer-events:none;
        z-index: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .24s ease;
    }


    &:not([data-text-field]) &__label,
    &.active &__label {
        transform: scale(.75);
        top: 0;
    }

    input {
        display: block;
        width: 100%;
        padding: $input-padding-top 0 8px 0;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid $input-line-neutral-color;
        font-size: ms(0);
        transition: border-color .24s ease;

        &:focus {
            border-color: $input-focus-color;
        }
    }

    &.invalid input,
    input:invalid {
        border-color: $input-invalid-color;
    }

    &.valid input {
        border-color: $input-valid-color;
    }

    &__error {
        display: block;
        margin-top: 8px;
        font-size: ms(-1);
        color: $input-invalid-color;
        pointer-events: none;
    }
}

.hidden-input {
    @extend %hidden-input;
}
