$input-padding-top: 24px;
$input-line-neutral-color: $color-primary;
$input-invalid-color: $color-error;
$input-valid-color: $color-primary;
$input-label-color: $color-gray--dark;
$input-focus-color: $color-accent;

.input {
    &--fullwidth {
        display: block;
        width: 100%;
    }

    &--text {
        display: inline-block;
        position: relative;
        margin-top: 16px;
    }

    &__label {
        display: block;
        position: absolute;
        width: 100%;
        top: $input-padding-top;
        left: 0;
        font-size: 1rem;
        color: $input-label-color;
        transform-origin: 0;
        transition: all .24s ease;
        pointer-events:none;
        z-index: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &:not([data-text-field]) &__label,
    &.active &__label {
        transform: scale(.75);
        top: 0;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: $input-padding-top 0 8px 0;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid $input-line-neutral-color;
        font-size: 1rem;
        transition: border-color .24s ease;

        &:focus {
            border-color: $input-focus-color;
        }
    }

    &.invalid input {
        border-color: $input-invalid-color;
    }

    &.valid input {
        border-color: $input-valid-color;
    }

    &__error {
        display: block;
        margin-top: 8px;
        font-size: ms(-1);
        color: $input-invalid-color;
        pointer-events: none;
    }
}

.hidden-input {
    @extend %hidden-input;
}

.numeric-input {
    display: inline-block;
    padding: 12px 0;
    
    &__plus,
    &__minus {
        @extend %inline-block-middle;
        cursor: pointer;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
        background-color: $color-dark;
        color: #fff;
        transition: all .24s ease;

        &:hover {
            background-color: $color-primary;
        }
    }

    &__input {
        @extend %inline-block-middle;
        background: none;
        border: none;
        color: $color-primary;
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
        width: 80px;
        padding-left: 12px;

        &:hover {
            background-color: $color-gray--light;
        }
    }
}