// $color-primary: 
// $color-secondary: 
$color-accent: #fff;
$color-accent--dark: #fff;
$color-dark: #222;
$color-black: #222;
$color-gray--light: #f2f1f0;
$color-gray--dark: #a3a3a3;
$color-error: #ff4141;
$color-success: #3bca77;