// font
$font-primary: "";
$font-secondary: "";

$font-size-xl: 32px;
$font-size-lg: 21px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-medium: 700;
$font-weight-black: 900;
