$color-primary: #2a6fdd;
$color-primary--dark: #1c55af;
$color-secondary: $color-primary;
$color-accent: $color-primary;
$color-accent--dark: $color-primary--dark;
$color-dark: #333;
$color-black: #222;
$color-gray--light: #f2f1f0;
$color-gray--dark: #adb4bd;
$color-error: #ff4141;
$color-success: #0ceb75;