/* base */
$global-bg-color: #fff;

html,
body {
    margin: 0;
    padding: 0;
    background-color: $global-bg-color;
    color: $color-dark;
    font-family: $text-font;
    font-weight: normal;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

p {
    font-family: $text-font;
}


/* headinds */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
}

/* controls */
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a,
input,
textarea,
button,
select,
option,
label {
    font-family: $buttons-font;
}

a {
    text-decoration: none;
    color: $color-accent;
    transition: color .24s ease;
}
