@import '~sass-math-pow/sass/index';

// fonts
$text-font: "Open Sans", sans-serif;
$logo-font: $text-font;
$title-font: $text-font;
$buttons-font: $text-font;

// variables for verical-rhythm
$grid-breakpoints: get-grid-value(breakpoints);

$base-font: 16px;
$base-font--mobile: 14px;
$base-line: .75rem;

$responsive-scales: (
    sm: 1.25,
    md: 1.333
);

@function get-line-height( $font-size, $base-line: $base-line ) {
    // $current-base-line: ($base-line * (floor($font-size) / 1rem));

    @return (ceil($font-size / $base-line) * $base-line) / $font-size;
}

@function vr-offset( $size: 1 ) {
    @return $size * $base-line;
}

@mixin vr-font-size( $size: 1, $scales: $responsive-scales, $grid: $default-grid ) {
    @include _for-media-map($scales, $grid) {
        $current-scale: $_for-media-map-value;
        $font-size: 1rem * poly-pow($current-scale, (-$size + 4));
    
        font-size: $font-size;
        line-height: get-line-height($font-size);
    }
}

%font-size-1 {
    @include vr-font-size(1);
}

%font-size-2 {
    @include vr-font-size(2);
}

%font-size-3 {
    @include vr-font-size(3);
}

%font-size-4 {
    @include vr-font-size(4);
}

%font-size-5 {
    @include vr-font-size(5);
}

%font-size-6 {
    @include vr-font-size(6);
}