$material-shadow: 0 4px 8px rgba(0, 0, 0, .12);
$material-shadow--big: 0 8px 20px rgba(0, 0, 0, .16);
$wind-easing: cubic-bezier(0.110, 0.815, 0.195, 0.950);

// fonts
$text-font: "Open Sans", sans-serif;
$logo-font: $text-font;
$title-font: $text-font;
$buttons-font: $text-font;